@* http://nanogallery.brisbois.fr/#docGeneralSettings
    I want to eventually add tags to captions and create albums that store the captions by their tag.
    Probably a lot of work
    *@

@Styles.Render("~/Content/nanogallery")

@using Captions.Models
@model IEnumerable<Caption>

@if (Model.Any())
{
<div id="nanoGallery" class="col-lg-12">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("GetImage", new { id = item.ID })" data-ngthumb="@Url.Action("GetImage", new { id = item.ID })" />
    }
</div>
}
else {
    <h1>No Captions Uploaded</h1>
}
@section scripts{
    @Scripts.Render("~/bundles/nanogallery")
    <script>
        $(document).ready(function () {
            var ThumbnailLabel = {
                display: false,
                displayDescription: false,
                hideIcons: false,

            };
               $("#nanoGallery").nanoGallery({
                   colorScheme: 'light',
                   thumbnailLabel: ThumbnailLabel,
                   itemsBaseURL: '@Request.Url.GetLeftPart(UriPartial.Authority)'
               });
           });
    </script>
}
