<div class="card text-center">
    <div class="card-header">
        Upload Images
    </div>
    <div class="card-body" id="upload-caption-card">
        @Html.Action("UploadCaption")
    </div>
</div>

<div class="card text-center">
    <div class="card-header">
        Create Post
    </div>
    <div class="card-body" id="create-post-card">
        @Html.Action("CreatePost")
    </div>
</div>

<div class="card text-center">
    <div class="card-header">
        Delete Captions
    </div>
    <div class="card-body" id="delete-caption-card">
        @Html.Action("DeleteCaption")
    </div>
</div>

<div class="card text-center">
    <div class="card-header">
        Delete Posts
    </div>
    <div class="card-body" id="delete-post-card">
        @Html.Action("DeletePost")
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/dropzonescripts")
    @Scripts.Render("~/bundles/dropzoneconfig")
}
