<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-10">
                @RenderBody()
            </div>

            <div class="col-1 affix">
                <!-- TODO: Cards-->
                <!-- Home -->
                <div class="card border-dark mb-3">
                    <div class="card-body">
                        @Html.ActionLink("Home", "Index", "Home")
                    </div>
                </div>

                <!-- Captions -->
                <div class="card border-dark mb-3">
                    <div class="card-body">
                        @Html.ActionLink("Captions", "Index", "Caption")
                    </div>
                </div>

                <!-- Posts -->
                <div class="card border-dark mb-3">
                    <div class="card-body">
                        @Html.ActionLink("Posts", "Index", "Post")
                    </div>
                </div>

                <!-- Login -->
                @if (SecurityService.GetLoggedInUser() == null)
                {
                    <div class="card border-dark mb-3">
                        <div class="card-body">
                            <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            @Html.Partial("~/Views/User/Login.cshtml")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                <!-- Logged in -->
                    <div class="card border-dark mb-3">
                        <div class="card-body">
                            @Html.ActionLink("Logout", "Logout", "User")
                        </div>
                    </div>
                }
                <!-- Admin -->
                @if (SecurityService.HasAdminAccess())
            {
                    <div class="card border-dark mb-3">
                        <div class="card-body">
                            @Html.ActionLink("Admin", "Index", "Admin")
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/swal")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
