@using Captions.Service

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="container body-content col-lg-5 col-lg-offset-2">
        @RenderBody()
    </div>
    <!-- TODO: Cards-->
    <!-- Search -->
    <div class="container col-lg-3 col-lg-offset-2">
        <div class="jumbotron">
            <p>Search</p>
            <input />
        </div>

        <!-- Home -->
        <div class="jumbotron">
            @Html.ActionLink("Home", "Index", "Home")
        </div>

        <!-- Captions -->
        <div class="jumbotron">
            @Html.ActionLink("Captions", "Index", "Caption")
        </div>

        <!-- Posts -->
        <div class="jumbotron">
            @Html.ActionLink("Posts", "Index", "Post")
        </div>

        <!-- Login -->
        @if (SecurityService.GetLoggedInUser() == null)
        {
        <div class="jumbotron">
            <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            @Html.Partial("~/Views/User/Login.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        else {
        <!-- Logged in -->
        <div class="jumbotron">
            @Html.ActionLink("Logout", "Logout", "User")
        </div>
        }
        <!-- Admin -->
        @if (SecurityService.HasAdminAccess())
        {
        <div class="jumbotron">
            @Html.ActionLink("Admin", "Index", "Admin")
        </div>
        }
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
